<%- include('./layouts/head.ejs') %>
    <body>
        <!-- Left panel -->
        <%- include('./layouts/menu.ejs') %>
            <!-- right panel -->
            <div id="right-panel" class="right-panel">
                <%- include('./layouts/navbar.ejs') %>
                 <div class="breadcrumbs">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1><%= pageTitle %></h1>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Thông số tổng quan các cảm biến</strong>
                            </div>
                            <div class="card-body">
                              <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th class="align-middle">STT</th>
                                    <th class="align-middle">SỐ HIỆU THIẾT BỊ</th>
                                    <th class="align-middle">LOẠI CẢM BIẾN</th>
                                    <th class="align-middle">VỊ TRÍ LẮP ĐẶT</th>
                                    <th class="align-middle">ĐƠN VỊ ĐO</th>
                                    <th class="align-middle">GIÁ TRỊ HIỆN TẠI</th>
                                    <th class="align-middle">GIỚI HẠN TRÊN</th>
                                    <th class="align-middle">GIỚI HẠN DƯỚI</th>
                                    <th class="align-middle">TRẠNG THÁI</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(var i=0; i < data.length; i++) { %>
                                   <tr>
                                     <td class="align-middle text-center"><%= data[i].ID_Sensor %></td>
                                     <td class="align-middle"><%= data[i].Serial_Number %></td>
                                     <td class="align-middle"><%= data[i].Type %></td>
                                     <td class="align-middle"><%= data[i].Section %></td>
                                     <td class="align-middle text-center"><%= data[i].Unit %></td>
                                     <td class="align-middle text-center"><%= data[i].Value %></td>
                                     <td class="align-middle text-center"><%= data[i].Up_Limit %></td>
                                     <td class="align-middle text-center"><%= data[i].Down_Limit %></td>
                                     <td class="align-middle text-center">Bình thường</td>
                                   </tr>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>


                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
            </div>
                    <%- include('./layouts/end.ejs') %>